<div class="text-center ">
  <h1>Bathroom </h1>
  <div class="container">
    <div class="form-inputs grey-wrapper wrapper text-left">
      <p><%= cl_image_tag(@bathroom.picture, :class => "bath-picture") %></p>
      <h4>Description:</h4>
      <p><%= @bathroom.description %></p>
      <h4>Category:</h4>
      <p><%= @bathroom.category %></p>
      <h4>Address:</h4>
      <p><%= @bathroom.address %></p>
      <h4>Provides Towel:</h4>
      <p><%= @bathroom.towel ? "Yes" : "No" %></p>
      <h4>Provides Shower Gel:</h4>
      <p><%= @bathroom.shower_gel ? "Yes" : "No" %></p>
      <h4>Provides Shampoo:</h4>
      <p><%= @bathroom.shampoo ? "Yes" : "No" %></p>
      <h4>Accepted gender:</h4>
      <p><%= @bathroom.accepted_gender.capitalize %></p>
      <h4>Price:</h4>
      <p><%= @bathroom.price %>€</p>

      <div id="map" style="width: 100%; height: 250px; margin:10px auto 0"></div>
    </div>
    <%= simple_form_for [@bathroom, Booking.new] do |f| %>
      <%= f.fields_for :bookings do |b| %>
        <%= b.text_field :book_time, :value=>Date.today.strftime('%d-%m-%Y'), :id =>"dp5" %>
        <% end %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        center = { lat: <%= @bathroom.latitude %>, lng: <%= @bathroom.longitude %> }
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
