<div class="text-center ">
  <%= render 'pages/form' %>
  <h1>Bookings </h1>
</div>
<div class="row-fluid">

  <div class="col-md-6">
    <% @bookings.each do |booking| %>
    <p>Name: <%= booking.user.name%></p>
    <p>Address: <%= booking.bathroom.address %></p>
    <p>Price: <%= booking.price %>€</p>
    <p>Boook date: <%= booking.book_time %></p>
    <p><%= link_to 'Show', booking_path(booking), class: 'btn btn-default btn-show' %></p>
      <% end %>
  </div>
</div>
