<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Shower and Towel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="icon" href="/assets/logo_shower" type="image/png">
  </head>
  <body>

    <%= render 'shared/navbar' %>
    <div class="body-wrapper">
    <%= render 'shared/flashes' %>

    <%= yield %>

    </div>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyD4SkOYUkREjFIXcpDW47vUbHGbT5cMci4" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <%= javascript_include_tag 'application' %>

    <%= yield(:after_js) %>

  </body>
</html>
